name: preview

on: [pull_request]

permissions:
  contents: read

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: get version
        id: vars
        run: echo ::set-output name=version::$(echo ${{github.ref_name}} | sed 's/^v//')
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: install
        run: npm install
      - name: build
        run: npm run build
        env:
          NPM_VERSION: ${{steps.vars.outputs.version}}

      - name: Publish Preview Versions
        run: npx pkg-pr-new publish '.' --template './examples/*'
