name: test

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: install
        run: npm install

      - name: lint
        run: npm run ci

      - name: test
        run: npm test

      - name: test build
        run: npm run build
